@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  background-color: #181a1d;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #292a2d;
}

::-webkit-scrollbar-thumb {
  background: #3939ed;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3939ed;
}

@keyframes node-pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }
}

.node-pulse {
  animation: node-pulse 3s ease-in-out infinite;
}